@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

/* UNIVERSAL STYLES -------------------------------------*/
body {
  font-family: sans-serif;
  background-color: #121419;
  color: #eceff4;
  margin: 0 auto;
  max-width: 1920px;
}

/* Util classes */
.dropcap::first-letter {
  font-size: 400%;
  float: left; /* floating makes other text wrap */
  line-height: 0.85;
  margin: 0.1em 0.1em 0 0;
}
.flexbox {
  display: flex;
}

a {
  color: #88C0D0;
  text-decoration: none;
}

a:hover {
  color: #ECEFF4;
}

a:active {
  color: #EBCB8B;
}

#headerbg img {
  width: 100vw;
}
#headerbg {
  position: fixed;
  top: 0; left: 0;
  z-index: -100;
}

#github {
  position: absolute;
  top: 0px;
  left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2e3440;
  padding: 1rem;
  width: 9rem;
  margin: 1rem auto 0 auto;
  text-align: left;
  /* border-radius: calc(2rem + 100px); */
}
#github img {
  display: block;
  max-width: 2rem;
  /* border-radius: 100%; */
}
#github span {
  flex: 1;
  margin-left: 20px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (orientation: portrait) {
  #github {
    left: 0px;
  }
}
