@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

/* UNIVERSAL STYLES -------------------------------------*/
body {
  font-family: sans-serif;
  background-color: #3b4252;
  color: #eceff4;
  margin: 0 auto;
  max-width: 1920px;
}

/* Util classes */
.dropcap::first-letter {
  font-size: 400%;
  float: left; /* floating makes other text wrap */
  line-height: 0.85;
  margin: 0.1em 0.1em 0 0;
}
.flexbox {
  display: flex;
}

a {
  color: #88C0D0;
  text-decoration: none;
}

a:hover {
  color: #ECEFF4;
}

a:active {
  color: #EBCB8B;
}
