@import url("./base.css");

#entries {
  flex-wrap: wrap;
}

.entry {
  /* 694 pixels is the width of the smallest image */
  max-width: calc(min(694px, 100vw) - 4rem);
  padding: 0.2rem 1rem;
  background-color: #2e3440;
  margin: 1rem;
  /* align description and button to botton */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.entry * {
  max-width: inherit;
}

.entry p {
  font-size: 20px;
  line-height: 120%;
}

.entry p strong {
  font-size: 110%;
  text-transform: uppercase;
}

.entry a.button {
  text-transform: lowercase;
  letter-spacing: 3px;
  text-align: center;
}

.entry a.button div {
  padding: 1rem;
  background-color: #5a6478;
  margin: 1rem 0rem;
}

.entry a.button div:hover {
  scale: 103%;
  transition-property: scale;
  transition-duration: 0.1s;
}

@media screen and (orientation: portrait) {
  .entry {
    max-width: 100vw;
    padding: 0px;
  }
}
