@import url("./base.css");

#entries {
  flex-wrap: wrap;
  flex-direction: row;
}

.entry {
  flex: 1;
  flex-basis: 29.5%;
  /* 694 pixels is the width of the smallest image */
  max-width: calc(694px - 4rem);
  padding: 0.2rem 1rem;
  background-color: #2e3440;
  margin: 1rem;
  /* align description and button to botton */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.entry img {
  /* keep the images inside the containers */
  max-width: 100%;
}

.entry p {
  font-size: 20px;
  line-height: 120%;
}

.entry p strong {
  font-size: 110%;
  text-transform: uppercase;
}

.entry a.button {
  text-transform: lowercase;
  letter-spacing: 3px;
  text-align: center;
}

.entry a.button div {
  padding: 1rem;
  background-color: #5a6478;
  margin: 1rem 0rem;
}

.entry a.button div:hover {
  scale: 103%;
  transition-property: scale;
  transition-duration: 0.1s;
}

/* header styles */
header {
  text-align: center;
}

@media screen and (orientation: portrait) {
  .entry {
    flex: 0;
    flex-basis: inherit;
    max-width: 100vw;
    margin-left: 0px;
    margin-right: 0px;
  }
}
