@import url("./base.css");

.entry {
  max-width: 50vw;
  padding: .2rem 1rem;
  background-color: #2E3440;
  margin: 1rem;
}

.entry * {
  max-width: inherit;
}

.entry p {
  font-size: 20px;
  line-height: 120%;
}

.entry p strong {
  font-size: 110%;
  text-transform: uppercase;
}

.entry a {
  text-transform: lowercase;
  letter-spacing: 3px;
  text-align: center;
}

.entry a div {
  padding: 1rem;
  background-color: #5a6478;
  margin: 1rem 0rem;
}

.entry a div:hover {
  scale: 103%;
  transition-property: scale;
  transition-duration: 0.1s;
}
