body {
  font-family: sans-serif;
  /* margin: 50px auto; */
  /* width:40% */
}

/* .container { */
/*   display: grid; */
/*   grid-template-rows: 20% auto 20%; */
/*   grid-template-columns: 10% auto 10%; */
/*   grid-template-areas: 	 */
/* 	"header 	header 	header" */
/* 	"left_sidebar 	main 	right_sidebar" */
/* 	"left_sidebar	footer	right_sidebar"; */
/* } */

/* .header {  */
/*   grid-area: header; */
/* } */
/* .left_sidebar {  */
/*   grid-area: left_sidebar; */
/* } */
/* .main { */
/*   grid-area: main; */
/* } */
/* .right_sidebar { */
/*   grid-area: right_sidebar; */
/* } */
/* .footer { */
/*   grid-area: footer; */
/* } */
/* div { */
/*      box-sizing: border-box; */
/*      border: 1px solid black; */
/*      padding: 20px; */
/*      text-align: center; */
/* } */

body {
  margin: 0 auto;
  max-width: 900px;
}

.dropcap::first-letter {
  font-size: 400%;
  float: left; /* floating makes other text wrap */
  line-height: 0.85;
  margin: 0.1em 0.1em 0 0;
}

img {
  max-width: 100%;
}

article {
  column-count: 3;
  column-gap: 2rem;
  max-width: 75%;
}

main {
  display: flex;
  /* flex-wrap: wrap; */
}

header,
article,
#sidebar {
  margin: 0 1rem;
}

.darkbg {
  color: white;
}

#sidebar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: -1em 2rem 0 1rem;
}

#sidebar p {
  display: inline;
  position: static;
  max-height: 25%;
  font-size: 0.5rem;
}

#sidebar p img {
  position: relative;
  top: 62%;
  left: 43%;
  scale: 200%;
  z-index: -1;
}

#preheader {
  display: inline;
  /* position: relative; */
  /* top: 3.2em; */
}

/* #preheader img { */
/* position:absolute; */
/* top: 0px; */
/* z-index: -1; */
/* } */

#preheader {
  display: inline;
}

#preheader h1 {
  position: absolute;
}

#preheader h1 span {
  display: block;
  background-image: url("../media/orange-color-10x10.png");
  max-width: 10rem;
  padding: 1rem 1rem 0 0;
  text-align: right;
}
#preheader h1 span#sub {
  display: inline;
  background: black;
  font-size: 75%;
  position: relative;
  left: 5rem;
  padding: 0;
}

header {
  position: relative;
  top: -3.2em;
  font-size: 200%;
}

header span {
  color: #d6502a;
}
